.btn-outline-success {
    color: white;
    background-color: transparent;
    background-image: none;
    border-color: white;

    &:hover {
        background-color: rgba(white, 0.4);
        border-color: white;
    }
}

.form-control:focus {
    background-color:white;
    border-color: white;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(white,.25);
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: rgba(white,.25);
    border-color: white;
    box-shadow: 0 0 0 0.2rem rgba(white,.25);
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(white,.25);
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(white,.25);
}