<div class="container mt-5">
    <div class="row pt-5">
        <div class="col-xs-12 col-sm-6">
            <app-carousel></app-carousel>
        </div>
        <div class="col-xs-12 col-sm-6 pt-4 pb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentumLorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentum
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 mt-5 mb-5">
            <app-tabs></app-tabs>
        </div>
    </div>
</div>