<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products"
      aria-selected="false">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content  mt-3" id="myTabContent">
  <!-- Home content starts -->
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Apps</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
            aria-controls="v-pills-profile" aria-selected="false">Games</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
            aria-controls="v-pills-messages" aria-selected="false">Movies</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-settings" aria-selected="false">Books</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-settings" aria-selected="false">Newspapers</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius
            id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et
            lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentum
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Vivamus
            leo ligula, vestibulum a turpis eget, laoreet
            sodales diam. Cras tempor sapien libero, a bibendum tellus condimentum id. Praesent eget magna diam. Mauris
            vestibulum volutpat nibh nec luctus. Aliquam justo ex, dignissim ac elit at, vulputate cursus diam.</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius
            id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et
            lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentum
            aliquam. Nunc pharetra augue lorem, ut convallis augue mattis at. Donec diam nisl, suscipit at dui eu,
            molestie molestie ligula. Vestibulum porttitor massa at sem tincidunt scelerisque. Etiam accumsan neque id
            nunc iaculis, sit amet aliquam erat fermentum. Nunc placerat, urna sed mattis semper, sem libero lacinia
            felis, feugiat convallis elit sapien sed risus. Vivamus leo ligula, vestibulum a turpis eget, laoreet
            sodales diam. Cras tempor sapien libero, a bibendum tellus condimentum id. Praesent eget magna diam. Mauris
            vestibulum volutpat nibh nec luctus. Aliquam justo ex, dignissim ac elit at, vulputate cursus diam.</div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Nunc
            pharetra augue lorem, ut convallis augue mattis at. Donec diam nisl, suscipit at dui eu,
            molestie molestie ligula. Vestibulum porttitor massa at sem tincidunt scelerisque. Etiam accumsan neque id
            nunc iaculis, sit amet aliquam erat fermentum. Nunc placerat, urna sed mattis semper, sem libero lacinia
            felis, feugiat convallis elit sapien sed risus. Vivamus leo ligula, vestibulum a turpis eget, laoreet
            sodales diam. Cras tempor sapien libero, a bibendum tellus condimentum id. Praesent eget magna diam. Mauris
            vestibulum volutpat nibh nec luctus. Aliquam justo ex, dignissim ac elit at, vulputate cursus diam.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- About content end -->
  <!-- Product content starts -->
  <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-product1" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Product 1</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-product2" role="tab"
            aria-controls="v-pills-profile" aria-selected="false">Product 2</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-product1" role="tabpanel" aria-labelledby="v-pills-home-tab">Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius
            id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et
            lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentum
          </div>
          <div class="tab-pane fade" id="v-pills-product2" role="tabpanel" aria-labelledby="v-pills-profile-tab">Vivamus
            leo ligula, vestibulum a turpis eget, laoreet
            sodales diam. Cras tempor sapien libero, a bibendum tellus condimentum id. Praesent eget magna diam. Mauris
            vestibulum volutpat nibh nec luctus. Aliquam justo ex, dignissim ac elit at, vulputate cursus diam.Vivamus
            leo ligula, vestibulum a turpis eget, laoreet
            sodales diam. Cras tempor sapien libero, a bibendum tellus condimentum id. Praesent eget magna diam. Mauris
            vestibulum volutpat nibh nec luctus. Aliquam justo ex, dignissim ac elit at, vulputate cursus diam.Vivamus
            leo ligula, vestibulum a turpis eget, laoreet
            sodales diam. Cras tempor sapien libero, a bibendum tellus condimentum id. Praesent eget magna diam. Mauris
            vestibulum volutpat nibh nec luctus. Aliquam justo ex, dignissim ac elit at, vulputate cursus diam.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products content end -->
  <!-- About content starts -->
  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-aboutus" role="tab"
            aria-controls="v-pills-home" aria-selected="true">About us</a>

        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-aboutus" role="tabpanel" aria-labelledby="v-pills-home-tab">Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius
            id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et
            lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentum
            Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius
            id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et
            lacinia blandit. Morbi accumsan laoreet dolor, quis elementum erat. Donec egestas ante eu condimentum

          </div>

        </div>
      </div>
    </div>
    <!-- About content end -->

  </div>
      <!-- Contact content starts -->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-mail" role="tab"
                  aria-controls="v-pills-home" aria-selected="true">E-mail</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-phone" role="tab"
                  aria-controls="v-pills-profile" aria-selected="false">Phone</a>
                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-map" role="tab"
                  aria-controls="v-pills-profile" aria-selected="false">Map</a>
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-mail" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  lorem.ipsum@dolorsitamet.com
                
                </div>
                <div class="tab-pane fade" id="v-pills-phone" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                 695 412 854</div>
                 <div class="tab-pane fade" id="v-pills-map" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod odio, vitae vulputate sem varius
                    id. Maecenas sollicitudin eget diam eget fringilla. Integer vitae velit nisi. Proin elementum felis et
                    lacinia blandit. M </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Contact content end -->